<div class="container-fluid" *ngIf="users">
    <div class="row" style="margin-bottom: 5px">
        <div class="col-md-3 mr-auto">
            <input type="text" class="form-control" (input)="onQuickFilterChanged($event)" id="quickFilter" placeholder="quick filter...">
        </div>
        <div class="pull-right col-md-1">
            <input type="button" title="Add" class="form-control btn-primary" value="Add" routerLink="/admin/roles/add">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ag-grid-angular style="width: 100%; height: 350px;" [pagination]="true" (gridReady)="onGridReady($event)" class="ag-theme-balham" [enableSorting]="true" [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged($event)" [enableFilter]="true"
                [rowData]="rowData" [columnDefs]="columnDefs" paginationPageSize=10>
            </ag-grid-angular>
        </div>
    </div>
</div>