<div id="app_container">
    <ng2-toasty></ng2-toasty>
    <div class='container-fluid'>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" routerLink="/">
                <img alt="logo" [src]="appLogo" style="margin:-5px;height: 50px">
                <span class="app-component appTitle"></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" *ngIf="authService.isUserLoggedIn ">
                    <li routerLinkActive="active" class="nav-item" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link" routerLink="">
                            <span class="glyphicon glyphicon-home"></span></a>
                    </li>
                    <li class="dropdown" routerLinkActive="active" *ngIf="authService.isUserAdmin " title="Admin">
                        <a class="nav-link" data-toggle="dropdown" href="#">Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu bg-dark">
                            <li routerLinkActive="active" class="dropdown-item bg-dark"><a class="nav-link" routerLink="/admin/mission">Mission</a></li>
                            <li routerLinkActive="active" class="dropdown-item bg-dark"><a class="nav-link" routerLink="/admin/roles">Roles</a></li>
                            <li routerLinkActive="active" class="dropdown-item bg-dark"><a class="nav-link" routerLink="/admin/teams">Teams</a></li>
                            <li routerLinkActive="active" class="dropdown-item bg-dark"><a class="nav-link" routerLink="/admin/users">Users</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" routerLinkActive="active" title="Products">
                        <a class="nav-link" data-toggle="dropdown" href="#">Products <span class="caret"></span></a>
                        <ul class="dropdown-menu bg-dark">
                            <li routerLinkActive="active" class="dropdown-item bg-dark"><a class="nav-link" routerLink="/products/list">Products</a></li>
                            <li routerLinkActive="active" class="dropdown-item bg-dark"><a class="nav-link" routerLink="/products/sets">Set</a></li>
                            <li routerLinkActive="active" class="dropdown-item bg-dark"><a class="nav-link" routerLink="/products/cases">Case</a></li>
                            <li routerLinkActive="active" class="dropdown-item bg-dark"><a class="nav-link" routerLink="/products/category">Category</a></li>
                        </ul>
                    </li>
                    <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="/requisition">Requisition</a></li>
                    <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="/orders">Inventory</a></li>
                    <li class="dropdown" routerLinkActive="active" title="Dispatch">
                        <a class="nav-link" data-toggle="dropdown" href="#">Dispatch <span class="caret"></span></a>
                        <ul class="dropdown-menu bg-dark">
                            <li routerLinkActive="active" class="dropdown-item bg-dark"><a class="nav-link" routerLink="/dispatch/box">Boxes</a></li>
                            <li routerLinkActive="active" class="dropdown-item bg-dark"><a class="nav-link" routerLink="/dispatch/pallets">Pallets</a></li>
                        </ul>
                    </li>
                    <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="/reports">Reports</a></li>
                    <!-- <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="/about">About</a></li> -->
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <ul class="app-component nav navbar-nav nav-pills navBarPadding navbar-right" *ngIf="authService.isUserLoggedIn ">
                        <li style="text-align: right;">
                            <a href="javascript:; " (click)="logout()"><span class="glyphicon glyphicon-log-out "></span> Logout</a>
                            <div *ngIf="missionName"><span style="color: white;"><b>Mission: </b>{{missionName.name}}</span></div>
                        </li>
                    </ul>
                </form>
            </div>
        </nav>
        <div style="margin-top: 15px">
            <router-outlet></router-outlet>
        </div>
        <footer class="bg-dark text-white mt-4">
            <div class="container-fluid py-3">
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3 text-right small align-self-end">©2018 WOGO</div>
                </div>
            </div>
        </footer>
    </div>